@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Roboto Slab', serif;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden; /* verificar */
}

.left-side {
    background-image: url("images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 35%;
    height: 100vh;
}

.card-front {
    background-image: url("images/bg-card-front.png");
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 447px;
    height: 246px;
    position: relative;
    top: 186px;
    left: 163px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
    font-weight: 400;
}

.datas {
    /* width: 370px; */
    width: 447px;
    padding-bottom: 25px;
}

.cardnumber {
    font-size: 35px;
    color: white;
    text-align: left;
    padding: 0px 40px;
}

.name-date {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0px 40px;
}

.cardname {
    font-size: 16px;
    color: white;   
}

.date {
    font-size: 16px;
    color: white;
}

.card-back {
    background-image: url("images/bg-card-back.png");
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 447px;
    height: 246px;
    position: relative;
    top: 250px;
    left: 250px;
    display: flex;
    justify-content: right;
    align-items: center;
    color: white;
}

.cvc {
    margin: 0px 60px 5px 0px;
}

.right-side {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 400px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: #220930;
}

label {
    font-size: 14px;
}

input {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #aaaaaa;
    margin: 10px 0px 30px 0px;
}

input::placeholder {
    color: #aaaaaa;
    font-family: 'Roboto Slab', serif;
}

.data-group {
    display: flex;
    justify-content: space-between;
}

.label1 input {
    width: 115px;
}

.label2 input {
    width: 150px;
}

input[type="submit"] {
    width: 100%;
    background-color: #220930;
    color: white;
    border: 0;
    padding: 15px;
    transition: all 1s;
}

input[type="submit"]:hover {
    background-color: #797979;
    cursor: pointer;
}

@media (max-width: 1400px) {
    body {
        display: block;
    }

    .left-side {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        /* flex-wrap: wrap; */
        background-image: url("images/bg-main-mobile.png");
        width: 100%;
        height: 40vh;
    }

    .right-side {
        height: auto;
        margin-top: 80px;
    }

    .card-front {
        width: 447px;
        height: 246px;

        top: 100px;
        left: 125px;
        z-index: 1;

        /* width: 100%;
        background-position: center; */
    }

    .card-back {
        width: 447px;
        height: 246px;

        top: 0;
        left: -125px; /*  */

        /* width: 100%;
        background-position: center; */

        /* justify-content: center; */
    }

    .cvc {
        margin: 0px 60px 5px 350px;
      }
}

@media (max-width: 680px) {
    .card-front {
        width: 300px;
        height: 190px;
    }

    .datas {
        width: 300px;
    }

    .cardnumber {
        font-size: 27px;
    }

    .name-date {
        padding: 0px 20px;
    }
    
    .cardname {
        font-size: 14px;   
    }

    .card-back {
        width: 300px;
        height: 190px;

        left: -75px;
    }

    .cvc {
        /* width: 447px;
        display: flex;
        justify-content: end; */
        margin: 0px 60px -50px 350px;
        
    }
}

/* letter-spacing */